body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo img {
    width: 150px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin: 15px;
}

ul li a {
    color: white;
    font-size: 18px;
}

