body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo img {
    width: 150px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin: 15px;
}

ul li a {
    color: white;
    font-size: 18px;
}
.wstep {
    text-align: center;
    padding: 100px;
    color: white;
}

.wstep h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #111;
}

.wstep p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #111;
}

.przekier {
    padding: 10px;
    background-color: #e60012;
    color: white;
    border-radius: 5px;
}

