body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo img {
    width: 150px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin: 15px;
}

ul li a {
    color: white;
    font-size: 18px;
}
.wstep {
    text-align: center;
    padding: 100px;
    color: white;
}

.wstep h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #111;
}

.wstep p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #111;
}

.przekier {
    padding: 10px;
    background-color: #e60012;
    color: white;
    border-radius: 5px;
}
.modele {
    text-align: center;
    padding: 20px;
}

.modele h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.auto {
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow:0 4px 10px black;
}

.auto img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.auto h3 {
    font-size: 30px;
    margin-top: 15px;
}

.auto p {
    font-size: 20px;
}

.info {
    padding: 20px;
    text-align: center;
}

.info h2 {
    font-size: 30px;
    margin-top: 15px;
}

.info p {
    font-size: 20px;
}

.cechy {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.cechy h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.li_cech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cechy2 {
    width: 50%;
    margin-bottom: 20px;
    background-color: lightgray;
    padding: 20px;
    box-shadow: 10px black;
}

.cechy2 h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.usługi {
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
}

.usługi h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.usługi p {
    font-size: 25px;
}

.usługi ul {
    padding: 0;
}

.usługi li {
    font-size: 20px;
    margin: 15px;
}


